html {
  font-size: 16px;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 64px;
  background-color: white;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  font-family: 'Roboto', sans-serif;
}

.menu {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 1.5rem;
}

.menu p {
  display: inline-block;
  font-weight: bold;
}

.menu span{
  font-weight: 100;
}

.navigator li {
  display: inline-block;
}

.navigator li a {
  margin-right: 1rem;
  text-decoration: none;
}

.section-main {
  width: 100%;
  display: relative;
  margin-top: 65px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.section-image {
  width: calc(60% + 24px);
  display: inline;
}

.section-image img {
    width: 90%;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1.5rem;
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.section1-text {
  font-family: 'Roboto', sans-serif;
  width: 23rem;
}

.section1-text h1 {
  font-size: 2.8rem;
  font-weight: 700;
}

.section1-text p {
  font-size: 1.3rem;
  margin-top: 1.5rem
}

.section1-text .section1-button {
  padding: .5rem 0;
  display: inline-block;
  margin-top: 2rem;
  width: 23rem;
  text-align: center;
  text-decoration: none;
  transition: all .2s linear 0s;
}

.section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.section-lock {
  border-right: 1px solid #dddddd;
  width: calc(60% + 3rem);
  margin-left: 1.5rem;
}

.section-lock img {
  width: 60vw;
  height: auto;
  margin-top: 2rem;
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.section-lock video {
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.section-title {
   font-size: 2rem;
   font-family: 'Roboto', sans-serif;
   margin-top: 2rem;
   margin-bottom: 1.5rem;
}

h2.section-title.bot {
    margin-bottom: 0;
}

.site-description {
  font-size: .9rem;
  margin-bottom: 1rem;
  margin-top: .5rem;
  line-height: 1.5rem;
  font-family: 'Open Sans', sans-serif;
}

.section2 h2 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section2-flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.section2-block {
  width: 22.25rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 3px 9px rgba(0,0,0,.4);
}

.section2-block img {
  height: 11.375rem;
  width: auto;
}

.learn-description {
  font-family: 'Roboto', sans-serif;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 1.3rem;
}

.section2-heading {
  font-size: 1.5rem;
  padding-top: .5rem;
}

.section2-mini-heading {
  font-size: 1.2rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.exhibit {
  text-align: center;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.marg {
  border: none;
  width: 60%;
  margin-right: 1rem;
}

.disclaimer {
  width: 100%;
  height: 4rem;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
}

.no-description{
  display: inline-block;
  display: center;
  flex-grow: 1;
  padding-left: 1.5rem;
}

.disclaimer a {
  text-align: right;
  text-decoration: none;
  margin-right: .8rem;
}
